[submodule "app/src/main/assets/Scripts"]
	path = app/src/main/assets/Scripts
	url = git@git.volla.tech:VollaOS-AOSP/bootloadermanager-scripts.git
	branch = master
[submodule "app/src/main/assets/Toolkit"]
	path = app/src/main/assets/Toolkit
	url = git@git.volla.tech:VollaOS-AOSP/bootloadermanager-toolkit.git
	branch = master
